<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </head>
  <body>
    <input type="file" value="上传文件" id="myfile" />
    <input type="button" value="下载文件" id="download" />
  </body>

  <script>
    $("#myfile").change(() => {
      upload();
    });
    $("#download").click(() => {
      download();
    });
    function download() {
      window.open("http://localhost:3000/api/download");
    }
    function upload() {
      const file = $("#myfile")[0].files[0];
      let formdata = new FormData();
      formdata.append("file", file);
      console.log();
      $.ajax({
        url: "http://localhost:3000/api/upload",
        type: "POST",
        data: formdata,
        processData: false,
        contentType: false,
        success: function(res) {
          if (res) {
            alert("上传成功");
          }
        }
      });
    }
  </script>
</html>
